<%- include('../../compartido/cabezera', {usuario: datos.usuario}) %>
<br>
<br>
<br>
<div class="container">
    <div class="card" style="width: 95%;">

        <div class="card-body">
            <h5 class="card-title"><%= datos.tarea.nombre %></h5>
            <div class="dropdown-divider"></div>
            <h6 class="card-subtitle mb-2 text-muted">fecha inicio <%= datos.tarea.fechaInicio %></h6>
            <h6 class="card-subtitle mb-2 text-muted">fecha inicio <%= datos.tarea.fechaFin %></h6>

            <h6 class="card-subtitle mb-2 text-muted">Estado <%= datos.tarea.estadoNombre %></h6>



            <p class="card-text"><%= datos.tarea.descripcion %></p>
            <br>
            <div class="dropdown-divider"></div>
             <% const tags = datos.tarea.actualTags.split(',') %>
            <% tags.forEach((tag) =>{  %>
                <span class="badge badge-info"><%= tag %></span>
            <%})%>
            <div class="dropdown-divider"></div>

            <a href="/tarea/ruta/editar/<%= datos.tarea.id%>" class="btn btn-primary">Editar</a>
            <form
                    action="/tarea/eliminar/<%= datos.tarea.id %>"
                    method="POST"
                    >
                <button class="btn btn-danger" type="submit"> Eliminar </button>
            </form>



        </div>
    </div>

</div>





<%- include('../../compartido/footer') %>
